body {
  margin: 10px;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5eff5;
}

.container {
  width: 500pxx;
  padding: 20px;
  border: 1px solid #1b0831;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 12px;
}

label {
  display: block;
  margin-bottom: 4px;
}

input,
select,
textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #000;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 8px;
  border: 1px solid #000;
  background: #000;
  color: #def7e9;
  cursor: pointer;
}
