body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #a5ffe2, #ec8dc2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.App h1 {
  color: black;
  font-size: 55px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}