body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: hsl(246, 91%, 78%);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 350px;
  background: #bddefd;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #111;
  line-height: 1.2;
}

h2 {
  font-size: 60px;
  margin-bottom: 35px;
  color: #222;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

button {
  background: #5951e6;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #e047e6;
}

.reset {
  width: 100px;
}